
@media screen and (max-width: 1024px) {
    .projects {
        padding: 0 2%;
    }
}

@media screen and (max-width: 768px) {

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .projects .container {
        max-width: 90vw;
    }
    
    .projects .container .carousel {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .projects .container .carousel::-webkit-scrollbar {
        display: none;
    }
    
    .buttons {
        display: block;
        margin-top: -15px;
    }

    .buttons button{
        color: var(--primary-medium);
        margin: 0 10px;
        font-size: 4rem;
        height: 62px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 100%;
    }

    .buttons button:active{
        background-color: white;
    }

}

