@import '../../styles/global.scss';

.swiper_container {
    display: none;

    @media screen {
        @media (max-width: 730px) {
            display: flex;
            align-items: center;
            width: 95%;
            margin: auto;
            height: 700px;
        }
    }
    .swiper {
        max-height: 700px;
        min-height: 650px;
        display: flex;
        align-items: center;
        .swiper_box {
            display: flex;
            align-items: center;
        }
        .swiper-button-next{
            &:after {
                color: $primary-medium;
                // box-shadow: 0 0 4px 2px $primary-white, 0 0 30px 2px $primary-medium;
                // backdrop-filter: ;
            }
        }
        .swiper-button-prev{
            &:after {
                color: $primary-medium;
            }
        }
    }
}