.Formulario {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--neutral-dark);
    padding: 10px 0;
}

.Formulario form {
    margin-top: 25px;
    width: 80%;
    height: 85%;
    background-color: var(--neutral-medium);
    border: 1px solid var(--primary-medium);
    border-radius: 10px;
    padding: 10px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form h2 {
    font-size: 3rem;
    margin: 10px 0;
    color: var(--primary-soft);
}

.message {
    text-align: left;
    height: 20%;
}

.message label {
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    color: var(--primary-medium);
}

form .message .caixaMensagem {
    resize: none;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid var(--primary-medium);
    color: var(--neutral-dark);
}