@media screen and (max-width: 1440px){

    .message label {
        font-size: 19px;
    }

}

@media screen and (max-width: 425px){

    .Formulario {
        height: auto;
        padding: 10px 0;
    }
    
    .Formulario form {
        margin-top: 20px;
        width: 90%;
        height: 80%;
        padding: 2% 3%;
    }
    
    form h2 {
        font-size: 1.1rem;
        margin: 10px 0 0 0;
    }

}