.projects-itens {
    width: 21%;
    height: 50%;
    margin: 10px 0;
    padding: 0.5%;
    border: 1px solid var(--primary-medium);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.project-preview {
    min-height: 70%;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid var(--primary-medium);
}

img.project-preview:hover {
    object-fit: contain;
}

.info {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}


.about-project {
    font-size: 1.5rem;
    width: 99.9%;
    background-color: var(--neutral-soft);
    border: 1px solid var(--primary-medium);
    padding: 3px;
    border-radius: 10px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

.about-project a {
    color: white;
}

.about-project a:hover {
    color: var(--primary-medium);
}

.about-project_description {
    width: 99.9%;
    padding: 3px;
    background-color: var(--neutral-soft);
    border: 1px solid var(--primary-medium);
    border-radius: 10px;
    margin-top: 5px
}