@import '../../../styles/global.scss';

.certificates {
    width: 100%;
    
    @media screen {
        @media (max-width: 740px) {
            // overflow-y: hidden;
        }
    }
    .certificate_title {
        font-size: 4rem;
        color: $neutral-dark;
        display: block;
        text-align: center;
    }

    .cerficates_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 98%;
        margin: 0 auto;
        gap: 10px;

        @media screen {
            @media (max-width: 740px) {
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                width: 90%;
                background-color: $primary-soft;
                padding: 20px 0;
                border-radius: 10px;
                max-height: 500px;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    width: 15px;
                }
                
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                
                &::-webkit-scrollbar-thumb {  
                    border-radius: 5px;
                    background: $neutral-dark;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background-color: $primary-medium;
                }
            }
        }

        a {
            width: 30%;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        .box {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            border: 2px solid $neutral-dark;
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            min-width: 250px;
            min-height: 120px;
            
            text-align: center;
            margin: 10px 0;
            
            @media screen {
                @media (max-width: 900px){
                    min-width: 200px;
                }
                @media (max-width: 740px){
                    width: 80%;
                    background-color: $primary-white;
                    min-width: 270px;
                    min-height: 130px;
                    flex: none;
                }
            }

            .type_course {
                position: absolute;
                font-size: 1.8rem;
                font-weight: 300;
                text-decoration: underline;
                top: 5px;
                left: 5px;
                color: $neutral-dark;

                @media screen {
                    @media (max-width: 900px){
                        font-size: 1.5rem;
                    }
                }
            }
            .course {
                font-size: 2.1rem;
                margin: 15px 0 0 0;
                color: $neutral-dark;
                @media screen {
                    @media (max-width: 900px){
                        font-size: 1.9rem;
                    }
                }
            }
            .instituition {
                font-size: 2rem;
                margin: 0;
                color: $neutral-dark;
                @media screen {
                    @media (max-width: 900px){
                        font-size: 1.7rem;
                    }
                }
            }
            .period {
                font-size: 1.6rem;
                color: $neutral-dark;
                @media screen {
                    @media (max-width: 900px){
                        font-size: 1.5rem;
                    }
                }
            }
            .time {
                position: absolute;
                right: 10px;
                bottom: 10px;
                display: flex;
                align-items: center;
                
                .clock {
                    color: $neutral-dark;
                    font-size: 1.5rem;
                    transform: translateX(-3px);
                    @media screen {
                        @media (max-width: 900px){
                            font-size: 1.4rem;
                        }
                    }
                }
                .hours {
                    color: $neutral-dark;
                    font-size: 1.5rem;
                    @media screen {
                        @media (max-width: 900px){
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    
.icon-scroll{
    position: absolute;
    transform: translate(50px, 50px);
    background-color: $neutral-dark;
    width: 40px;
    height: 70px;
    margin-left: -10px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 5px $primary-medium;
    border-radius: 25px;
    display: none;
    &:before{
        position: absolute;
        left: 50%;
        content: '';
        width: 15px;
        height: 15px;
        background: $primary-medium;
        margin-left: -8px;
        top: 8px;
        border-radius: 15px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
        @keyframes scroll {
            0%{
            opacity: 1;
            }
            100%{
            opacity: 0;
            transform: translateY(46px);
            }
        }
    }
    @media screen {
        @media (max-width: 740px) {
            display: block;
        }
        @media (max-width: 550px) {
            transform: translate(35rem, -60px);
        }
    }
}
}

