@import '../../styles/global.scss';

.home {
    height: calc(100vh - 180px);
    max-height: 520px;
    min-height: 500px;
    padding-top: 50px;

    @media screen {
        @media (max-width: 730px){
            max-height: none;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            max-height: 400px;
        }
    }
    .apresentation {
        height: 70%;
        min-height: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 730px){
            display: none;
            height: 0;
            width: 0;
        }

        .apresentation_name {
            font-size: 7rem;
            color: $primary-medium;
            width: 1350px;
            white-space: nowrap;
            letter-spacing: .15em;

            margin: 0 auto;

            animation: typing 4s steps(55) forwards;
            overflow: hidden;
            position: relative;
            @media screen {
                @media (max-width: 1415px){
                    font-size: 5rem;
                    width: 960px;
                }
                @media (max-width: 1050px){
                    font-size: 4rem;
                    width: 770px;
                }
                @media (max-width: 835px){
                    font-size: 3.9rem;
                    width: 700px;
                    letter-spacing: 0.10em;
                }
            }
        }
        .line_1 {
            border-right: 4px solid $primary-white;
            animation: typing_1 3s steps(25, end) 1s 1 normal both, blink_1 0.75s steps(25, end) 5;

            @keyframes typing_1 {

                from {
                    width: 0;
                }
                to {
                    border-right-color: transparent;
                }
            }
    
            @keyframes blink_1 {
                from {
                    border-right-color: rgba(17, 17, 17, 0.9);
                }
                to {
                    border-right-color: $primary-white;
                }
            }
        }
        .line_2 {
            border-right: 4px solid $primary-white;
            animation: typing_2 3s steps(25, end) 1s 1 normal both, blink_2 0.75s steps(25, end) infinite forwards;
            -webkit-animation-delay: 4s;
            animation-delay: 4s;

            @keyframes typing_2 {
                0% {
                    width: 0;
                    border-right: transparent;
                }
                1% {
                    border-right: 5px solid $primary-white;
                }
            }   
            @keyframes blink_2 {
                from {
                    border-right-color: rgba(17, 17, 17, 0.9);
                }
                to {
                    border-right-color: rgba(255, 255, 255, 0.8);
    
                }
            }
        }
    }
    .apresentation_mobile {
        min-height: 350px;

        display: none;
        .apresentation_name {
            font-size: 8.2rem;
            color: $primary-medium;
            // width: 1350px;
            white-space: nowrap;
            letter-spacing: .15em;
            margin: 0 auto;

            animation: typing 4s steps(55) forwards;
            overflow: hidden;
            position: relative;
            @media screen {
                @media (max-width: 730px){
                    margin: 0 auto;
                    letter-spacing: 0.08em;
                    font-size: 3.4rem;
                }
            }
        }
        .line_1 {
            width: 280px;
            border-right: 4px solid $primary-white;
            animation: typing_1 2.5s steps(25, end) 0.5s 1 normal both, blink_1 0.75s steps(25, end) 4;
            @keyframes typing_1 {
                from {
                    width: 0;
                }
                to {
                    border-right-color: transparent;
                }
            }
            @keyframes blink_1 {
                from {
                    border-right-color: rgba(17, 17, 17, 0.9);
                }
                to {
                    border-right-color: $primary-white;
                }
            }
        }
        .line_2 {
            width: 360px;
            border-right: 4px solid $primary-white;
            animation: typing_2 3s steps(25, end) 0.5s 1 normal both, blink_2 0.75s steps(25, end) 4;
            -webkit-animation-delay: 3s;
            animation-delay: 3s;

            @keyframes typing_2 {
                0% {
                    width: 0;
                    border-right: transparent;
                }
                1% {
                    border-right: 5px solid $primary-white;
                }
                100% {
                    border-right-color: transparent;
                }
            }   
            @keyframes blink_2 {
                from {
                    border-right-color: rgba(17, 17, 17, 0.9);
                }
                to {
                    border-right-color: $primary-white;
                }
            }
        }
        .line_3 {
            width: 570px;
            border-right: 4px solid $primary-white;
            animation: typing_3 3s steps(25, end) 1s 1 normal both, blink_3 0.75s steps(25, end) infinite forwards;
            -webkit-animation-delay: 6.2s;
            animation-delay: 6.2s;
            @keyframes typing_3 {
                0% {
                    width: 0;
                    border-right: transparent;
                }
                1% {
                    border-right: 5px solid $primary-white;
                }
            }   
            @keyframes blink_3 {
                from {
                    border-right-color: rgba(17, 17, 17, 0.9);
                }
                to {
                    border-right-color: rgba(255, 255, 255, 0.8);
                }
            }
            @media (max-width: 580px){
                align-self: center;
                justify-self: center;
                width: 320px;
                white-space: pre-wrap;
                animation-duration: 0.5s;
                text-align: center;
                @keyframes typing_3 {
                    0% {
                        height: 0;
                        border-right: transparent;
                    }
                    100% {
                        height: 100px;
                        border-right: 5px solid $primary-white;
                    }
                }
                @keyframes blink_3 {
                    to {border-right-color: transparent;}
                    from {border-right-color: transparent;}
                }
            }
        }
        @media screen {
            @media (max-width: 730px){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
            }
            
        }
    }
    
    .social_media {
        height: 30%;
        min-height: 200px;
        width: 100%;
        max-width: 1550px;
        margin: 0 auto;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .anchor_icon {
            padding: 15px;            
            .icons_home {
                font-size: 10rem;    
                text-decoration: none;
                color: $primary-medium;
                
                @media (max-width: 700px){
                    font-size: 7rem;
                }
                @media (max-width: 350px){
                    font-size: 5rem;
                }
            }
            &:nth-child(1):hover {
                background-color: #0077b7;
                border-radius: 10px;
                .icons_home {
                    color: $primary-white;
                }
            }
            &:nth-child(2):hover {
                background-color: black;
                border-radius: 50%;
                .icons_home {
                    color: $primary-white;
                }
            }
            &:nth-child(3):hover {
                border-radius: 50%;
                .icons_home {
                    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                    color: $primary-white;
                    border-radius: 15px;
                }

            }
        }
        
    }
}
