@media screen and (max-width: 1092px) {
    
    .nome{
        font-size: 7rem;
    }
    
    .cargo{
        font-size: 4rem;
    }
    
    .social-media {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .icons-home {
        font-size: 5rem;
        margin: 10px 50px;
        height: 144px;
    }
}

@media screen and (max-width: 768px) {

    .nome{
        font-size: 5.2rem;
    }
    
    .cargo{
        font-size: 3rem;
    }
    
    .icons-home {
        font-size: 4rem;
        margin: 10px 20px;
        height: 128px;
    }

}

@media screen and (max-width: 425px){

    .home {
        height: 90vh;
    }

    .nome{
        font-size: 3.8rem;
    }
    
    .cargo{
        font-size: 2.1rem;
    }

    .icons-home {
        font-size: 3rem;
        margin: 0px 5px;
        height: 112px;
    }

}

@media screen and (max-width: 425px){
    .icons-home {
        font-size: 2.2rem;
        margin: 0px 3px;
        height: 99.19px;
    }
}