.header{
    max-width: 100vw;
    background-color: white;
    padding: 0 3%;
    border-bottom: 2px solid var(--primary-medium);
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 15px 0;
    justify-content: left;
    display: flex;
    align-items: center;
    width: 50vw;
}

.logo .logotipo{
    height: 7rem;
    width: 7rem;
}
