@import '../../styles/global.scss';

.header{
    width: 100%;
    background-color: $primary-white;
    max-height: 120px;
    min-height: 110px;
    display: flex;
    align-items: center;
    min-width: 900px;
    border-bottom: 3px solid $primary-medium;
    position: fixed;
    z-index: 999;
    @media screen {
        @media (max-width: 900px) {
            min-width: 768px;
        }
        @media (max-width: 768px) {
            min-width: 320px;
        }
        @media (max-width: 580px) {
            min-height: 110px;
        }
    }

    .header_container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1550px;
        
        width: 100%;
        margin: auto;

        .logo {
            width: 100px;
            object-fit: contain;
            margin-left: 30px;
            transition: 0.5s;

            @media screen {
                @media (max-width: 580px) {
                    width: 80px;
                }
            }
        }

        .hamburger_wrapper {
            transform: translateX(-5px);
            border-radius: 25px;
            width: 13rem;
            height: 7rem;
            display: flex;
            justify-content: center;
            padding: 1em;
            z-index: 999;
            display: none;

            @media screen {
                @media (max-width: 768px) {
                    display: block;
                }
                @media (max-width: 580px) {
                    height: 4.5rem;
                    transform: translateX(15px);
                }
            }
            .hamburger_icon {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                cursor: pointer;
                align-items: center;
                
                .burger-bar {
                    width: 11rem;
                    height: 1rem;
                    background-color: $neutral-soft;
                    border-radius: 0.5em;
                    box-shadow: 
                    0 0 5px $primary-medium,
                    0 0 10px $primary-medium;

                    @media screen {
                        @media (max-width: 580px) {
                            width: 7rem;
                            height: 0.7rem;
                        }
                    }
                }
            }
        }
        
        
        .menu {
            width: 100%;
            height: 100vh;
            background-color: #ffffff6f;
            position: fixed;
            top: 0;
            z-index: 5;
            backdrop-filter: blur(14px);
            transition: 2s;
            display: none;

            @media screen {
                @media (max-width: 768px) {
                    flex-direction: column;
                    justify-content: center;
                    min-width: 0;
                    gap: 50px;
                    text-align: center;
                }
            }
        }
        .hidden {
            display: none;
            transition: 2s;
        }
        
        .visible {
            display: inherit;
            transition: 2s;
        }
        
        /* ------------- sliding menu ------------------ */
        
        /* ----- animations--------- */
        /* clicked */
        .burger-bar.clicked:nth-child(1){
            transform: rotate(45deg) translate(3.5em, 2.25em);
            transition: ease-out 0.5s;
            @media screen {
                @media (max-width: 580px) {
                    transform: rotate(45deg) translate(3em, 1.25em);
                }
            }
        }
        
        .burger-bar.clicked:nth-child(2){
            transform: scale(0.1);
            transition: ease-out 0.5s;
        }
        
        .burger-bar.clicked:nth-child(3){
            transform: rotate(135deg) translate(-2em, 1em);
            transition: ease-out 0.5s;
            @media screen {
                @media (max-width: 580px) {
                    transform: rotate(135deg) translate(-1.5em, -.25em);
                }
            }
        }
        
        /* unclicked */
        .burger-bar.unclicked {
            transform: rotate(0) translate(0);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }
        

    }
}