@import '../../styles/global.scss';

.foot {
    position: relative;
    min-height: 200px;
    max-height: 240px;
    background-color: $primary-white;

    .footer_container {
        max-width: 1550px;
        margin: 0 auto;
        height: 165px;

        display: flex;
        
        @media screen {
            @media (max-width: 720px) {
                flex-direction: column;
                height: 250px;
                align-items: center;
                justify-content: center;
            }
        }
        .footer_contacts {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width: 720px) {
                min-height: 100px;
                width: 90%;
            }
            .icon_footer {
                font-size: 7rem;
                color: $primary-soft;
                
                &:hover {
                    color: $neutral-soft;
                }
            }
        }
        .footer_adress {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 720px) {
                min-height: 100px;
                width: 90%;
            }
            .adress {
                font-size: 4rem;
                color: $primary-soft;
                .icon_adress {
                    font-size: 5rem;
                    color: $primary-medium;
                }
            }
        }
    }

    .copy {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        .copy_text {
            width: 90%;
            max-width: 500px; 
            margin: 0 auto;
            background-color: $neutral-dark;
            min-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 10px 10px 0 0;
        }
        .copy_text, .name_copy {
            font-size: 2rem;
            color: $primary-white;
            @media (max-width: 745px) {
                font-size: 1.7rem;
            }
            @media (max-width: 425px) {
                font-size: 1.5rem;
            }
            .name_copy {
                color: $primary-soft;
                margin-left: 8px;
                &:hover {
                    color: $primary-medium;
                }
            }
        }
    }
}

