@media screen and (max-width: 1024px) {

    footer {
        padding: 20px 2% 0 2%;
    }

    .contact-footer {
        width: 55%;
        padding: 1% 2%;
    }
    
    .contact-footer .email {
        width: 65%;
        height: 50px;
        align-self: center;
        font-size: 1.5rem;
        margin: 0;
    }
    
    .contact-footer .whatsapp {
        height: 50px;
        font-size: 1.5rem;
        margin: 0;
    }

    .social-media_footer {
        width: 45%;
        padding: 0;
    }

    .icons-footer {
        font-size: 3rem;
        margin: 10px 10px;
        height: 102.38px;
        padding: 1.7rem;
    }
    
}

@media screen and (max-width: 768px) {

    
    footer {
        padding: 10px 1% 0 1%;
    }

    .contact-footer {
        width: 50%;
        padding: 0;
    }

    .contact-footer .email {
    
        font-size: 1.3rem;
    }
    
    .contact-footer .whatsapp {
        font-size: 1.4rem;
    }

    .social-media_footer {
        width: 50%;
        padding: 0;
        justify-content: center;
    }

    .icons-footer {
        font-size: 2.5rem;
        height: 88px;
        padding: 1.5rem;
    }

}

@media screen and (max-width: 425px) {

    footer {
        padding: 0 1% 0 1%;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    
    .contact-footer {
        width: 85%;
        padding: 1%;
    }

    .contact-footer .email {
        font-size: 1.3rem;
        justify-content: center;
        width: 100%;
    }
    
    
    .social-media_footer {
        width: 70%;
    }
    
    .icons-footer {
        font-size: 1.5rem;
        margin: 20px 10px;
        height: 88px;
        padding: 2rem;
    }
    
    .copy p {
        font-size: 1rem;
        padding: 5px 6px;
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (max-width: 375px) {

    .contact-footer .email {
        width: 100%;
        font-size: 1.15rem;
        margin: 0;
        justify-content: center;
    }
    
    .contact-footer .whatsapp {
        height: 40px;
        font-size: 1.4rem;
        margin: 0;
    }

}