.course_box {
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    border: 3px solid var(--neutral-dark);
}

.course_type {
    display: flex;
    justify-content: left;
    text-decoration: underline;
}

.course_name {
    font-size: 1.4rem;
    margin: 10px 0 0 0;
}

.instituition_name {
    font-size: 1.1rem;
}

.time{
    margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .course_name, .course_type, .instituition_name, .time {
        color: var(--neutral-dark);
    }

@media screen and (max-width: 768px) {

    .course_box {
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
        width: 32.5%;
    }

    .course_name {
        font-size: 1.2rem;
    }
    
    .instituition_name {
        font-size: 1rem;
        border-bottom: 0;
    }
}

@media screen and (max-width: 425px) {

    .course_box {
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
        width: 85%;
    }

    .course_name {
        font-size: 1.2rem;
    }
    
    .instituition_name {
        font-size: 1rem;
        border-bottom: 0;
    }

}
