@import '../../styles/global.scss';

.experience {
    height: auto;
    width: 96%;
    margin:  20px auto 20px auto;
    background-color: $primary-white;
    border: 2px solid $primary-medium;
    border-radius: 10px;
    max-width: 1550px;
}