@import '../../../styles/global.scss';

.header_nav {
    align-items: center;
    display: flex;
    
    .navigation_list {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-right: 20px;

        max-width: 950px;
        min-width: 700px;
        
        
        @media screen {
            @media (max-width: 768px) {
                display: none;
            }
            @media screen {
                @media (max-width: 900px) {
                    min-width: 550px;
                    margin-right: 0;
                }
            }
        }
    }
}