@import '../../../styles/global.scss';

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border: 2px solid $neutral-dark;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    min-width: 400px;
    max-width: 700px;
    min-height: 150px;
    max-height: 200px;
    
    text-align: center;
    margin: 10px auto;

    @media screen {
        @media (max-width: 520px) {
            min-width: 290px;
            width: 80%;
        }
    }

    .type_job {
        position: absolute;
        font-size: 2rem;
        font-weight: 300;
        text-decoration: underline;
        top: 10px;
        left: 10px;
        color: $neutral-dark;

        @media screen {
            @media (max-width: 500px) {
                font-size: 1.9rem;
            }
        }
    }
    .office {
        font-size: 3rem;
        margin: 15px 0 0 0;
        color: $neutral-dark;

        @media screen {
            @media (max-width: 500px) {
                font-size: 2.7rem;
            }
        }
    }
    .business {
        font-size: 2.3rem;
        margin: 0;
        color: $neutral-dark;

        @media screen {
            @media (max-width: 500px) {
                font-size: 2rem;
            }
        }
    }
    .period {
        font-size: 2rem;
        color: $neutral-dark;

        @media screen {
            @media (max-width: 500px) {
                font-size: 1.9rem;
            }
        }
    }
}