*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    overflow: unset;
}

body {
    min-width: 100%;
    min-height: 100vh; 
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    background-color: var(--neutral-dark);
}

body::-webkit-scrollbar-thumb {  
    border-radius: 20px;
    border: 3px solid var(--primary-medium);
}

a {
    text-decoration: none;
}

.title-section{
    font-size: 5rem;
    font-weight: 600;
    color: var(--primary-medium);
  
}

:root {
    --primary-soft: rgb(139, 172, 218);
    --primary-medium: rgb(0, 255, 247);
    --neutral-dark: rgb(13, 25, 43);
    --neutral-medium: rgb(20, 37, 61);
    --neutral-soft: rgb(47, 65, 91);
}

@media screen and (max-width: 1440px) {
    .title-section{
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 768px) {
    
    body::-webkit-scrollbar {
        width: 0px;
    }

}
