@import '../../styles/global.scss';

.skills {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .skills_title {
        font-size: 3rem;
        color: $primary-medium;
        width: 95%;
        display: block;
        text-align: center;
        @media screen {
            @media (max-width: 820px){
                margin: 45px 0 5px 0;
            }
        }
    }
    
    .rolling {
        position: relative;
        width: 100vw;
        height: 10rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 20px 0;
        justify-content: space-evenly;
        @media screen {
            @media (max-width: 820px){
                height: 9rem;
            }
            @media (max-width: 640px){
                height: 8rem;
            }
        }
    
        .skill_list {
            display: flex;
            justify-content: space-around;
            flex: none;
    
            width: 200%;
            height: inherit;
            position: absolute;
            left: 0%;
            top: 0%;
            overflow: hidden;
    
            .skills_icons {
                font-size: 8rem;
                flex: none;
                text-align: center;
                
                @media screen {
                    @media (max-width: 995px){
                        font-size: 7rem;
                    }
                    @media (max-width: 550px){
                        font-size: 5rem;
                    }
                }
            }
        }
    
        .primary {
            animation: primary 15s linear infinite;
        }
    
        .secondary {
            animation: secondary 15s linear infinite;
        }
        
        @keyframes primary {
            from {
                left: 0%;
            }
    
            to {
                left: -200%;
            }
        }
    
        @keyframes secondary {
            from {
                left: 200%;
            }
    
            to {
                left: 0%;
            }
        }
    }
}